extends layout

block head
    title Old Commericals

block content
  div(id="videoCountDisplay")
    p 0
    h5 TOTAL VIDEOS
  div(id="titleBar")
    span(class="icon")
        i(class="fa fa-search")
    input(id="searchBar", placeholder="Search...")
  h1 Old Commercials
  hr
  div(id="list")
    h2(class="center") Loading...